@media (max-width: 767.98px) {
        .full-height-mobile {
            height: 100vh;
            object-fit: cover;
            font-size: 30px;
        }
    }

.custom-bg {
  background-color: #2B6BAC;
}


